

h1{text-align: center;}
h2{text-align: center;}


header{background-color: purple}
#menu{height: 8.563rem;
  display: flex;
  justify-content: space-between;
  align-items: center;}

#menu ul{list-style-type: none;
}
#menu ul li{width: 18.75rem;
  margin-right: 20px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #b63159;
  font-size: 1.25rem;
  font-weight: 400;

}

#menu ul li:hover{color: #fff;}


main{background-color: slategray}

footer{background-color: orangered;
margin-top: 100px;}

#logo{width: 200px;
}

#lupa{width: 40px}

#campo{
  margin-left: 900px;
}

.poster{width: 500px;
}

#botao{
  float: left;
}

h4 {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}

.footer {
  background-color: #747474;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.colunas {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
  padding: 6px 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb255, 115, 0;}